body {
    text-align: center;
    display: block;
    background-color: #03a9f433;
}

.game_title {
    margin: 2px 0;
    letter-spacing: 2rem;
}

.modal_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.438);
}

.modal_body {
    position: relative;
    width: 400px;
    height: 200px;
    top: 70%;
    left: 50%;
    background: #ffffff;
    transform: translate(-50%, -70%);
}

.modal_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    border-bottom: 1px solid gray;
    margin: center;
}

.modal_close {
    font-weight: bold;
    font-size: 2rem;
}

.modal_button {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-left: 40%;
}

.modal_button {
    width: 60px;
    height: 30px;
}

.hide {
    display: none;
}

.thumb-bar img {
    width: 50px;
    margin: auto;
    cursor: pointer;
}

.thumb-bar {
	margin: auto;
	max-width: 300px;
	height: 80px;
}

.score-panel {
    margin: auto;
    max-width: 800px;
    border-radius: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px white, 0 0 2px black;
    letter-spacing: 0.3em;
    z-index: 1;
    background-color: #a06fe6;
    padding: 10px 20px;
    justify-content: space-between;
}

.score-panel .users {
    padding: 0;
    display: inline-block;
    margin-right: 10%;
    text-align: center;
}

.score-panel .users li {
    list-style: none;
   display: inline-block;
}

.score-panel .btn-success{
    cursor: pointer;
    display: inline-block;
    margin-left: 15%;
}

.score-panel .lives, .score-panel .thumb-bar, .btn-success{
    display: inline-block;
}

.btn {
    margin-bottom: 1px;
}